<div class="ui {{isLoggedIn()? 'six':'four'}} item tabs menu">
  <a routerLink="home" routerLinkActive="active" class="item">Home</a>
  <a routerLink="books" routerLinkActive="active" class="item">Bücher</a>
  <a *ngIf="isLoggedIn() && isAdmin()" routerLink="admin" routerLinkActive="active" class="item">Administration</a>
  <a routerLink="login" routerLinkActive="active" class="item">{{getLoginLabel()}}</a>
  <a routerLink="cart" routerLinkActive="active" class="item">Warenkorb</a>
  <a *ngIf="isLoggedIn()" routerLink="order" routerLinkActive="active" class="item">Bestellungen</a>

</div>
<router-outlet></router-outlet>


